.para3 {
  line-height: 115.0000%;
  margin:  0.1945in 0px 0.1945in 0px;
  text-align: center;
}

.para0 {
  border-bottom: 0.74pt solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para4 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: center;
  text-indent: 0.1665in;
}

.para1 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para2 {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 0.74pt solid #000000;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para5 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: center;
  text-indent: -0.3335in;
}

.para6 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: center;
  text-indent: -0.1665in;
}

.para7 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.0000in;
  text-align: center;
  text-indent: 0.1665in;
}

.para8 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.0000in;
  text-align: center;
  text-indent: -0.3335in;
}

.para9 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.0000in;
  text-align: center;
  text-indent: -0.1665in;
}

.para10 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0693in 0.0000in;
  text-align: center;
  text-indent: -0.3335in;
}

.para11 {
  background-color: #ffffff;
  line-height: 115.0000%;
  margin:  0.1945in 0px 0.1945in 0px;
  text-align: center;
}

.para13 {
  background-color: #edefef;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para12 {
  background-color: #ffffff;
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: center;
  text-indent: 0.1665in;
}

.para14 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0693in 0px;
  text-align: center;
}

.span14 {
  color: #121212;
  font-family: 'Arial';
  font-size: 12.5000pt;
  font-style: italic;
  font-weight: bold;
}

.span0 {
  font-family: 'Times New Roman';
  font-size: 24.0000pt;
  font-weight: bold;
}

.span5 {
  display: none;
  font-family: 'Arial';
  font-size: 8.0000pt;
}

.span1 {
  display: none;
  font-family: 'Arial';
  font-size: 24.0000pt;
  font-weight: bold;
}

.span2 {
  font-family: 'Times New Roman';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span3 {
  color: #121212;
  font-family: 'Arial';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span7 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 12.0000pt;
  font-variant: small-caps;
}

.span6 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 24.0000pt;
  font-weight: bold;
  letter-spacing: 0.0102in;
  text-transform: uppercase;
}

.span4 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 12.0000pt;
}

.span8 {
  color: #121212;
  font-family: 'Helvetica';
  font-size: 13.5000pt;
}

.span9 {
  color: #121212;
  font-family: 'Arial';
  font-size: 10.5000pt;
  font-style: italic;
}

.span10 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 12.0000pt;
  font-style: italic;
}

.span11 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: small-caps;
}

.span12 {
  color: #121212;
  font-family: 'Arial';
  font-size: 12.5000pt;
  font-weight: bold;
}

.span13 {
  color: #121212;
  font-family: 'Times New Roman';
  font-size: 12.5000pt;
  font-weight: bold;
}

.span15 {
}

.span16 {
  color: #121212;
  font-family: 'Arial';
  font-size: 7.5000pt;
  font-style: italic;
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}
